<body>
  <nav>
    {{#if logged_in}}
      
    {{else}}
      <a href="/login">login</a>
      <a href="/profile">dashboard</a>
    {{/if}}
  </nav>

<div class="row">
    <div class="col-auto">
        <h3>Welcome {{username}}!</h3>
    </div>
</div>


{{!-- new post section --}}
<div id="addBlog">
<div class="row-mt-4">
    <div class="col-md-6">
      <h5>create a new blog post:</h5>
      <form class="new-post">
        <div class="form-group">
          <label for="post-title">post title:</label>
          <input class="form-input" 
          type="text" 
          id="post-title" 
          name="post-title" />
        </div>
        <div class="form-group">
          <label for="post-content">content:</label>
          <textarea class="form-input" 
          id="post-content" 
          name="post-content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">blog</button>
        </div>
      </form>
    </div>
</div>

{{!-- post list section --}}
<div class="existingPosts">
    <div class="col-md-6 post-list">
    {{#if posts.length}}
      <h4>Previous Posts:</h4>
      {{#each posts as |post| }}
        <div class="row-mb-2">
          <div class="col-md-8">
            <h5><a href="/post/{{post.id}}">{{post.title}}</a></h5>
          </div>
          <div class="col-md-4">
            <p><a href="/post/{{post.id}}">{{post.content}}</a></p>
            <p>{{createdAt}}</p>
            {{!-- <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button> --}}
          </div>
        </div>
      {{/each}}
    {{/if}}
    </div>
</div>


</div>

    {{#unless scriptLoaded}}
      <script src="/js/profile.js"></script>
    {{/unless}}

</body>
